<h1>글쓰기</h1>
<form action="/create">
  제 목 : <input type="text" name="title" ><br>
  내 용 : <input type="text" name="content"><br>
  <!-- 작성자 : <input type="text" name="author" ><br> -->
  <input type="submit">
</form>
