<h1>회원가입</h1>
<form action="/register">
  아이디 : <input type="text" name="title" ><br>
  비밀번호 : <input type="text" name="content"><br>
  <!-- 작성자 : <input type="text" name="author" ><br> -->
  <input type="submit">
</form>
